<div class="container-fluid">
    <div class="col-md-6">
        <h4>KEYWORD LIST :-</h4>
        <div ng-repeat="keywordObj in keywordList">
            <ul class="list-group">
                <li class="list-group-item fs-18">
                    {{$index + 1}}. <a href="#!/get-keyword" ng-click="selectedKeyword(keywordObj)">{{keywordObj.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <a type="button" class="btn btn-primary mt-xs pull-right" href="#!/save-keyword">Search Keyword</a>
    </div>
</div>
